.app {
  &__container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(20, 50px);
    grid-gap: 1rem;
    padding: 1rem 1rem;
    background-color: $color-secondary;
    position: relative;
  }
}

.header {
  &__container {
    grid-column: 4/6;
    grid-row: 6/10;
    display: flex;
    justify-content: center;
  }
}

.image {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }

  &__000 {
    grid-column: 13/16;
    grid-row: 1/4;
    background-image: url("../imgs/image__000.JPG");
  }

  &__001 {
    grid-column: 7/13;
    grid-row: 1/6;
    background-image: url("../imgs/image__001.JPG");
  }

  &__002 {
    grid-column: 6/13;
    grid-row: 6/11;
    background-image: url("../imgs/image__002.JPG");
    background-position: bottom;
  }

  &__003 {
    grid-column: 12/16;
    grid-row: 16/21;
    background-image: url("../imgs/image__003.JPG");
  }

  &__004 {
    grid-column: 13/16;
    grid-row: 4/13;
    background-image: url("../imgs/image__004.JPG");
  }

  &__005 {
    grid-column: 1/6;
    grid-row: 10/15;
    background-image: url("../imgs/image__005.JPG");
  }

  &__006 {
    grid-column: 1/4;
    grid-row: 1/10;
    background-image: url("../imgs/image__006.JPG");
  }

  &__007 {
    grid-column: 6/9;
    grid-row: 11/16;
    background-image: url("../imgs/image__007.JPG");
  }

  &__008 {
    grid-column: 9/13;
    grid-row: 11/16;
    background-image: url("../imgs/image__008.JPG");
  }

  &__009 {
    grid-column: 4/7;
    grid-row: 1/6;
    background-image: url("../imgs/image__009.JPG");
  }

  &__010 {
    grid-column: 13/16;
    grid-row: 13/16;
    background-image: url("../imgs/image__010.JPG");
  }

  &__011 {
    grid-column: 1/6;
    grid-row: 15/21;
    background-image: url("../imgs/image__011.JPG");
  }

  &__012 {
    grid-column: 6/12;
    grid-row: 16/21;
    background-image: url("../imgs/image__012.JPG");
  }
}
