.overlay {
	&__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $color-secondary-opaque;
	}

	&__container-image {
		width: 90%;
		height: 85%;
		margin: 10px auto;
	}
	
	&__image {
		max-height: 100%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 45px;
	}

	&__container-buttons {
		height: 15%;
		display: flex;
		justify-content: center;
	}

	&__button-prev,
	&__button-next {
		background-color: inherit;
		border: none;
		color: $color-primary;
		width: 5rem;
		height: 5rem;
    cursor: pointer;
	}

	&__button-prev {
	}
	&__button-next {
	}
}
