body {
  font-family: $font-primary;
  color: $color-primary;
}

.header {
  &__heading {
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2rem;
  }
}
